.loader-card {
  max-width: 100%;
  width: 100%;
  /* height: 239px; */
  height: 310px;
  border-radius: 12px;
  display: block;
  margin: auto;
  position: relative;
  /* background: #1f2127; */
  background: var(--card-bg);

  box-sizing: border-box;
  cursor: pointer;
}
.loader-card::after {
  content: "";
  width: calc(100% - 73px);
  height: calc(100% - 15px);
  top: 75px;
  left: 38px;
  position: absolute;
  background-image: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.022) 50%,
      transparent 100%
    ),
    linear-gradient(var(--main-bg) 100px, transparent 0),
    linear-gradient(var(--main-bg) 16px, transparent 0),
    linear-gradient(var(--main-bg) 50px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
  background-position: -185px 0, center 0, center 115px, center 142px;
  box-sizing: border-box;
  animation: animationloader 1s linear infinite;
}

@keyframes animationloader {
  to {
    background-position: 185px 0, center 0, center 115px, center 142px;
  }
}

@media only screen and (max-width: 480px) {
  .loader-card::after {
    content: "";
    width: calc(100% - 47px) !important;
    height: calc(100% - 15px) !important;
    top: 20px !important;
    left: 24px !important;
  }
}

.loader-livedrop {
  width: 200px;
  height: 80px;
  display: block;
  position: relative;
  background: var(--card-bg);
  box-sizing: border-box;
}

.loader-inner {
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.022) 50%,
      transparent 100%
    ),
    linear-gradient(var(--main-bg) 100px, transparent 0),
    linear-gradient(var(--main-bg) 16px, transparent 0),
    linear-gradient(var(--main-bg) 50px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 130px, 290px 56px;
  background-position: 0% 0, 0px 66px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }
  100% {
    background-position: 150% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }
}
